.products {
  background-color: var(--color-light-grey-1);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: fit-content;
  justify-content: space-between;
  gap: 1.5em;
}

.onSearch {
  justify-content: start;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.5em;
  margin-block-start: 0.375em;
}

.header img {
  height: 20px;
  width: 20px;
}

.profile {
  height: 35px;
  width: 35px;
  background-size: cover;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.profile:focus-visible {
  outline-color: var(--color-green);
}

.profileSection {
  position: relative;
}

.signInLink {
  padding: 0.5em;
  background-color: var(--color-green);
  color: var(--color-white);
  border-radius: 0.5em;
}

.profileSection {
  display: flex;
}

.profileOptionsContainer {
  white-space: nowrap;
  position: absolute;
  background-color: var(--color-light-grey-1);
  padding: 0.5em;
  border: var(--color-black) solid 1px;
  border-radius: 0.5em;
  right: 0;
  bottom: -120%;
}

.profileOptionsContainer button {
  background-color: transparent;
  border: none;
  display: flex;
  gap: 0.3em;
  align-items: center;
}

.firstSection {
  display: flex;
  flex-direction: column;
  gap: 1.563em;
  padding-inline: 1.5em;
  margin-block-start: 4em;
}

.greetings h3 {
  font-size: 1.5em;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  padding: 2em 0 1.5em 1.5em;
  border-radius: 1.875em 1.875em 0;
}

.featuredHeading {
  display: flex;
  justify-content: space-between;
  padding-inline-end: 1.5em;
}

.featuredHeading a {
  color: var(--color-dark-grey);
}

.popularProductsSection {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  padding: 1.875em 1em 1em 2em;
  margin-block-start: 1.875em;
}

.popularProductsHeader {
  font-size: 1em;
  font-weight: normal;
}

@media only screen and (min-width: 768px) {
  .parentContainer {
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
    align-items: center;
  }

  .container {
    width: 70vw;
    max-width: 60em;
    margin-inline: auto;
  }
}

@media only screen and (min-height: 1000px) {
  .parentContainer {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .parentContainerSearchMode {
    align-items: start;
  }

  .onSearch {
    justify-content: start;
  }

  .container {
    justify-content: start;
    min-height: fit-content;
  }
}
