.productHeadingContainer {
  display: flex;
  flex-direction: column;
  gap: 0.375em;
  margin-inline: 1.25em;
  padding-block-end: 1.125em;
  padding-block-start: 4em;
}

.productHeadingContainer p {
  color: var(--color-green);
  font-weight: bold;
}

.productHeadingContainer h1 {
  font-size: 1.75em;
}

.overviewContent {
  padding-block-end: 6.5em;
}

.tabDiv {
  margin-left: 1.25em;
  padding-block-end: 1.5em;
}

.tabContent {
  margin-inline-start: 1.25em;
}

.reviewsSection {
  display: flex;
  flex-direction: column;
  gap: 2.813em;
  margin-block: 1.563em 3.75em;
  padding-inline: 1.438em;
}

.reviewsSection h2 {
  font-size: 1em;
  font-weight: normal;
}

.otherProductsSection {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  background-color: var(--color-light-grey-1);
  padding: 1.75em 0 2.375em 1.5em;
}

.otherProductsDiv {
  display: flex;
  justify-content: space-between;
  padding-inline-end: 1.5em;
}

.otherProductsDiv h3 {
  font-size: 1em;
  font-weight: normal;
}

.otherProductsDiv a {
  color: var(--color-dark-grey);
  font-size: 0.875em;
}

.buttonDiv {
  margin: 1.5em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.buttonDiv button {
  cursor: pointer;
}

.productRightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  flex: 1;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media only screen and (min-width: 1024px) {
  .container {
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
    align-items: center;
    padding-block-start: 4em;
  }

  .flexContainer {
    display: flex;
    gap: 1em;
  }

  .productHeadingContainer {
    margin: 0;
    padding: 0;
  }

  .tabContent {
    margin: 0;
    flex: 1;
    width: 50%;
  }

  .buttonDiv {
    position: static;
    margin: 0;
  }

  .overviewContent {
    padding: 1em;
    width: 70vw;
    max-width: 60em;
    margin-inline: auto;
  }

  .otherProductsSection {
    border-radius: 1em;
  }
}
