.productHeadingContainer {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  margin-inline: 1.25rem;
  padding-block-end: 1.125rem;
  padding-block-start: 4rem;
}

.productHeadingContainer p {
  color: var(--color-green);
  font-weight: bold;
}

.productHeadingContainer h1 {
  font-size: 1.75rem;
}

.overviewContent {
  padding-block-end: 6.5rem;
}

.tabDiv {
  margin-left: 1.25rem;
  padding-block-end: 1.5rem;
}

.tabContent {
  margin-inline-start: 1.25rem;
}

.reviewsSection {
  display: flex;
  flex-direction: column;
  gap: 2.813rem;
  margin-block: 1.563rem 3.75rem;
  padding-inline: 1.438rem;
}

.reviewsSection h2 {
  font-size: 1rem;
  font-weight: normal;
}

.otherProductsSection {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: var(--color-light-grey-1);
  padding: 1.75rem 0 2.375rem 1.5rem;
}

.otherProductsDiv {
  display: flex;
  justify-content: space-between;
  padding-inline-end: 1.5rem;
}

.otherProductsDiv h3 {
  font-size: 1rem;
  font-weight: normal;
}

.otherProductsDiv a {
  color: var(--color-dark-grey);
  font-size: 0.875rem;
}

.buttonDiv {
  margin: 1.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.buttonDiv button {
  cursor: pointer;
}

.flexContainer {
  display: flex;
  gap: 1rem;
}

.productRightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.tabContentMediumScreen {
  aspect-ratio: 1;
  width: 392px;
}

@media only screen and (min-width: 1024px) {
  .productHeadingContainer {
    margin: 0;
    padding: 0;
  }

  .tabContent {
    margin: 0;
    /* aspect-ratio: 1; */
    /* width: 392px; */
  }

  .buttonDiv {
    position: static;
    margin: 0;
  }

  .overviewContent {
    padding: 1rem;
    width: 70vw;
    max-width: 60rem;
    margin-inline: auto;
  }

  .otherProductsSection {
    border-radius: 1rem;
  }
}
