.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  margin-bottom: 8rem;
  height: 100%;
  margin-block-start: 4rem;
}

.noItemMessage {
  color: var(--color-dark-grey);
  font-weight: bold;
  align-self: center;
}

.upperSection {
  display: flex;
  flex-direction: column;
  gap: 2.063rem;
}

.items {
  flex: 1;
}

.bottomSection {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1.313rem;
  position: fixed;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  bottom: 0;
  right: 0;
  left: 0;
}

.totalSection {
  display: flex;
  justify-content: space-between;
}

.totalSection h3 {
  font-size: 0.75rem;
  color: var(--color-dark-grey);
}

.totalSection p {
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  .container,
  .bottomSection {
    width: 70vw;
    max-width: 60rem;
    margin-inline: auto;
  }

  .content {
    justify-content: space-between;
    margin-block-end: 0;
  }
}
