.listItem {
  color: var(--color-dark-grey);
  padding-block: 0.15em;
  gap: 0.688em;
}

.link {
  color: var(--color-dark-grey);
  padding: 0.156em 0.938em;
  border-radius: 1.875em;
  font-size: 0.875em;
}

.active,
.radioInput:checked + .radioLabel {
  background-color: var(--color-green);
  color: white;
}

.radioInput {
  display: none;
}
