.container {
  display: flex;
  flex-direction: column;
  gap: 2.188rem;
  background-color: var(--color-white);
  border-radius: 1.875rem 1.875rem 0 0;
  padding: 1.5rem;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: 2.188em;
}

.container section {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.container h3 {
  font-size: 1rem;
  font-weight: normal;
}

.mainHeadingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  gap: 1em;
  align-items: center;
}

.closeButton,
.resetButton {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.resetButton {
  color: var(--color-dark-grey);
}

.textInputContainer {
  display: flex;
  gap: 1.063rem;
}

@media only screen and (min-width: 768px) {
  .container {
    font-size: 14px;
    border: 1px solid var(--color-grey);
    border-radius: 1.875rem;
  }
}

@media only screen and (min-width: 1098px) {
  .sectionContainer {
    flex-direction: row;
  }
}
