.cardContainer {
  width: 9.688em;
  display: grid;
  padding: 0.938em 0.625em;
  background-color: var(--color-white);
  border-radius: 0.938em;
  gap: 1.25em;
  color: black;
  height: 100%;
}

.cardContainer img {
  justify-self: center;
}

.info h3 {
  font-size: 0.875em;
  font-weight: normal;
}

.info p {
  font-size: 0.75em;
  font-weight: bold;
}

.reviewSection {
  display: flex;
  align-items: center;
  font-size: 0.625em;
  gap: 0.625em;
  align-self: flex-end;
}

.ratingSection {
  display: flex;
  align-items: center;
  gap: 0.188em;
}
