.container {
  display: grid;
  grid-template-areas: "profile-picture info" "empty review-text";
  flex-direction: column;
  gap: 0.938em;
  column-gap: 0.875em;
  row-gap: 0.938em;
  grid-template-columns: min-content;
}

.upperSection {
  display: flex;
  justify-content: space-between;
  gap: 0.813em;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  grid-area: info;
  align-self: start;
}

.infoUpper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewDate {
  font-size: 0.75em;
  color: var(--color-dark-grey);
}

.reviewText {
  grid-area: review-text;
  font-size: 0.875em;
}
