.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.input {
  display: none;
}

.input:checked + .label {
  background-color: var(--color-green);
  color: white;
  border-color: transparent;
}

.label {
  background-color: var(--color-white);
  padding: 0.594rem 0.938rem;
  border: var(--color-dark-grey) 1px solid;
  border-radius: 0.625rem;
  cursor: pointer;
  user-select: none;
}
