.listItem {
  color: var(--color-dark-grey);
  padding-block: 0.15rem;
  gap: 0.688rem;
}

.link {
  color: var(--color-dark-grey);
  padding: 0.156rem 0.938rem;
  border-radius: 1.875rem;
  font-size: 0.875rem;
}

.active,
.radioInput:checked + .radioLabel {
  background-color: var(--color-green);
  color: white;
}

.radioInput {
  display: none;
}
